@import '../../styles/base.scss';
.logo {
    display: block;
    width: rem(108px);
    height: rem(27px);
}

.header-left {
    margin-right: rem(52px);
}

.header-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include phones {
        display: none;
    }
}

.header__link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: rem(16px);
    color: #333333;
    opacity: 0.6;
    font-weight: 700;
    &:hover {
        opacity: 1;
        font-weight: 700;
    }
}

.header__item+.header__item {
    margin-left: rem(28px);
}

.header-nav-hamburger_active {
    position: absolute;
    display: flex;
    top: 50px;
    width: 100%;
    justify-content: center;
}

/* content  */

.main-content {
    flex-direction: column;
    margin: rem(29px) 0 rem(13px) 0;
    @include phones {
        margin: rem(100px) 0 rem(13px) 0;
    }
}

.content__container {
    display: flex;
    margin-bottom: rem(20px);
    @include phones {
        flex-wrap: wrap;
    }
}

.main {
    width: 50%;
    margin-right: rem(13px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include phones {
        width: 100%;
        margin-right: 0;
        margin-bottom: rem(31px);
    }
}

.greeting {
    display: flex;
    flex-wrap: wrap;
    padding: rem(19px) rem(17px) 0 rem(26px);
    width: 100%;
    background-image: url('../../images/bg@1x.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    min-height: rem(331px);
    margin-top: rem(20px);
    @include phones {
        padding: rem(19px) 0 0 rem(26px);
    }
}

.greeting-main {
    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: flex-start;
    @include phones {
        width: 100%;
    }
}

.greeting__title {
    font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
    font-size: rem(27px);
    color: #333333;
    font-weight: 700;
    @include phones {
        font-size: rem(18px);
    }
}

.temperature-home {
    display: flex;
    flex-direction: column;
    margin-right: rem(25px);
}

.temperature-degree_fifty {
    width: 50%;
}

.temperature-street {
    display: flex;
    flex-direction: column;
}

.greeting__temperature {
    display: flex;
    padding-top: rem(22px);
}

.greeting__desc {
    font-family: 'Arial-MT', Arial, Helvetica, sans-serif;
    font-size: rem(14px);
    color: #333333;
    font-weight: normal;
}

.temperature-title {
    font-family: 'Arial-MT', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: rem(14px);
    color: #858585;
}

.temperature-img {
    width: rem(24px);
    height: rem(24px);
    margin-left: rem(8px);
}

.temperature-degree {
    font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: rem(36px);
    color: #333333;
    letter-spacing: 0;
}

.favorite-scenarios {
    width: 50%;
    margin-left: rem(13px);
    
    @include phones {
        width: 100%;
        margin-left: 0;
        margin-bottom: 31px;
    }
}

.main__title {
    font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
    font-size: rem(18px);
    color: #333333;
    font-weight: 700;
    @include phones{
        margin-bottom: 20px;
    }
}

.temperature-street-drizzle {
    display: flex;
    align-items: center;
}

/*---end content ---- */

/* card */

.card {
    width: 200px;
    height: 120px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #F7F7F7;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
        background: #FFFFFF;
        box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.50);
    }
    &__icon {
        flex-grow: 1;
        margin-bottom: 10px;
    }

    &__img{
        width: 24px;
            height: 24px;
        display: none;

        &_active{
            display: block;
        }
    }
    &__title {
        font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #333333;
        max-height: 64px;
        width: 100%;
        overflow: hidden;
        margin: 0 0 3px;
    }
    &__sheduling {
        font-family: 'Arial-MT', Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 12px;
        color: #858585;
        letter-spacing: 0.01px;
        text-decoration: none;
        margin: 0;
        padding: 0;
    }
}

/* --- end card --- */

/* vertical carousel*/

#carousel-main, #carousel-multi{
    @include phones{
        display: none;
    }
}

#carousel-main__mobile, #carousel-multi__mobile{
    @include desctop{
        display: none;
    }
}

.carousel {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel_vertical {
    width: 200px;
}

.btn {
    position: absolute;
    padding: 0;
    display: flex;
    @include phones {
        display: none;
    }
}

.arrow{
    fill:rgba(152, 154, 156,.8);

    &:hover{
        fill:rgba(152, 154, 156,1);
    }
    &:active{
        fill:rgba(51, 51, 51,1);
    }
}

.arrow-icon-prev{
    width: 100%;
    height: 100%;;
}

.btn__img {
    width: rem(16px);
    height: rem(16px);
    margin: rem(13px) 0;
   

    &:hover {
        cursor: pointer;
    }
}

.down {
    bottom: 0;
    justify-content: center;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #F7F7F7;
    &:focus {
        outline: none;
    }
}

.gallery_vertical {
    height: rem(260px);
}

.gallery {
    overflow: hidden;
    width: 100%;
}

.gallery__nav {
    height: 100%;
    width: rem(9999px);
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 0;

    padding: 2px 2px 4px;
}

.gallery__nav_vertical {
    height: rem(9999px);
    width: 100%;
    flex-direction: column;
    transition: margin-top 250ms;
}

.gallery__nav3 {
    height: rem(9999px);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    transition: margin-top 250ms;
    font-size: 0;
}

.gallery__item {
    display: inline-block;
}

.gallery__item_vertical {
    display: inline-block;
    width: 100%;
}

.gallery__item+.gallery__item {
    margin-left: rem(15px);
}

.gallery__item_vertical+.gallery__item_vertical {
    margin-top: rem(16px);
    margin-left: 0;
}

.gallery-horizontal__prev {
    top: rem(-40px);
    right: rem(56px);
}

.gallery-horizontal__next {
    top: rem(-39px);
    right: rem(23px);
}

/* ---- end -----*/

/* ---- favorite-scenarios ---- */

.gallery-multi {
    @include phones {
        width: 100%;
        overflow: hidden;
    }
}

.gallery-multi__nav {
    display: flex;
    flex-wrap: wrap;
    @include phones {
        flex-direction: row;
        height: 100%;
        width: 624.938rem;
        transition: margin-left 250ms;
    }
}

.gallery-multi__prev {
    top: rem(5px);
    right: rem(25px);
}

.gallery-multi__next {
    top: rem(6px);
    right: rem(-3px);
}

.gallery-multi__img {
    width: rem(14px);
    height: rem(14px);
}

.gallery-multi__img_next{
    transform: rotate(-90deg);
}


.gallery-multi__img_prev{
    transform: rotate(90deg);
}

.gallery-multi__item {
    width: 32%;
    height: 32%;
    margin-bottom: rem(13px);
    @include phones {
        width: auto;
        height: auto;
    }
}

.gallery-multi__item+.gallery-multi__item {
    margin-right: rem(12px);
}

.gallery-multi__item:nth-child(3n) {
    margin-right: 0;
}

.gallery-multi__item:first-child {
    margin-right: rem(12px);
}

.card_heigth100 {
    height: 100px;
}

.carousel-multi {
    margin-top: rem(20px);
    @include phones {
        width: 100%;
    }
}

/* ---- end favorite-scenarios ---- */

/* ---- favorite-devices ---- */

.favorite-devices {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: rem(40px);
    @include phones {
        padding-left: 0;
    }
    &__carousel{
        flex-grow: 1;
    }
}

.carousel_paddingLeft {
    @include phones {
        padding-left: rem(20px);
    }
}

.favorite-devices__title {
    display: flex;
    margin-bottom: rem(25px);
    @include phones {
        justify-content: space-between;
    }
}

.favorite-devices__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: rem(10px);
    @include phones {
        display: none;
    }
}

.menu-dropdown {
    display: none;
    @include phones {
        display: flex;
        position: relative;
    }
    &__btn {
        position: absolute;
        width: 10px;
        height: 7px;
        top: 5px;
        left: 36px;
        z-index: 99;
    }
    &__title {
        position: relative;
    }

    &__icon{
        width: 14px;
        height: 9px;
    }
}

.favorite-devices__items_dropdown {
    display: none;
}

.favorite-devices__item+.favorite-devices__item {
    margin-left: rem(15px);
    @include phones {
        margin-left: 0;
        margin-top: rem(2px);
    }
}

.favorite-devices__link {
    font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: rem(13px);
    color: #000000;
    background-color: rgba(247, 247, 247,1);
    border-radius: 20px;
    padding: rem(8px) rem(13px);
    position: relative;
    @include phones {
        border-radius: 0;
        display: block;
        width: 100%;
    text-align: end;
    }
    &:hover {
        cursor: pointer;
        background-color: rgba(107, 107, 107, 0.2);

    }
    &:active {
        cursor: pointer;
        background-color:  rgba(107, 107, 107, 0.8);

    }
    &_paddingRight {
        @include phones {
            padding-right: 28px;
            border-radius: 20px;
        }
    }
    &_active{
        background-color: #FFD700;
    }
}

.menu-dropdown-arrow {
    position: relative;
}

.menu-dropdown__items {
    position: absolute;
    z-index: 9999;
    top: 28px;
    left: -8px;
    flex-direction: column;
    display: none;
}

/* ---- end favorite-devices ---- */

.footer__nav {
    display: flex;
    @include phones {
        justify-content: center;
        flex-wrap: wrap;
    }
}

.footer__text {
    font-family: 'ArialMT', Arial, Helvetica, sans-serif;
    font-size: rem(12px);
    color: #858585;
    font-weight: normal;
    letter-spacing: 0.01px;
    text-align: left;
}

.footer__item+.footer__item {
    margin-left: rem(15px);
}

.footer__link:hover {
    color: #333333;
}

.hamburger-menu {
    display: none;
    @include phones {
        display: flex;
    }
}

/*---popup-temperature--- */

.popap {
   
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.50);
    position: fixed;
    top: 0;
    z-index: 9999;
    display: none;
    align-items: center;
    justify-content: center;
    width: 1px;
    height: 1px;
    transition:all 1s;
    transform: scale(1,1);
    display: flex;
    &-container {
        display: flex;
        max-width: rem(630px);
        width: rem(630px);
        flex-direction: column;
        @include phones{
            align-items: center;
            padding: 20px;
            width: 334px;
        }
    }
    &__floor, &__light, &__temperature{
        display: flex;
        height: 100vh;
        width: 100vw;
    }

    &-main {
        background: #FFFFFF;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding:rem(20px);
        width: 100%;
        position: relative;
        margin-bottom: rem(20px);
        @include phones{
            height: 492px;
        }
       
    }
    &-title{
        font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
    font-size: rem(27px);
    color: #333333;
    font-weight: 700;

    @include phones{
        font-size: 18px;
    }
    &_smaller{
        @include phones{
            font-size: rem(18px);
        }     
    }
    }

    &-temperature{
        font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
    font-size: rem(36px);
    color: #333333;
    font-weight: 700;
    }

    &-icon{
        width: rem(40px);
        height: rem(40px);
    }

    &-header{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom:42px;
        @include phones{
            margin-bottom: 34px;
        }
    }

    &-degree{
        display: flex;
        align-items: center;
        @include phones{
            display: none;
        }
    }

    &-gallery-item+&-gallery-item{
        margin-left: rem(7px);
    }

    &-items{
        align-items: center;
    }

    &-sheduling{
        position: absolute;
        top:rem(60px);
        content:'';
        display: flex;
        justify-content: flex-start;
    }

    &-btns{
        display: flex;
        width: 100%;
        justify-content: space-between;

        @include phones{
            flex-direction: column;
        }
    }

    &-btn{
        width: 49%;
        background: #FFFFFF;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #000000;
        letter-spacing: 0;
        text-align: center;
        font-weight: 700;
        padding:rem(21px);
            
        @include phones{
            width: 100%;
        }
        &:hover{
            background: #FFD93E;
        }

        &:active{
            background: #FF9E00;
        }
    }
    @include phones{
    &-btn + &-btn{
        margin-top: 10px;
    }
    }
    &-temperature-carousel{
        margin-bottom: rem(20px);
    }
    &-bright{
        width: 24px;
        height: 24px;
        fill: none;
    }

    &-light{
        @include phones{
            display: none;
        }
    }
}

.slider-wrapper{
    width: 100%;
    position: relative;
  &-floor{
        display: flex;
    justify-content: center;
  }
    @include phones{
        flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    
    }
}

.slider-range{
    position: absolute;
    font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: rem(18px);
    font-weight: 700;
    width: 100%;


letter-spacing: 0;
display: flex;
justify-content: space-between;
top: rem(19px);
padding: 0 20px;

@include phones{

    flex-direction: column;
    top: 22px;
    width: 60px;
    height: 318px;
    padding: 0 16px;
}

&__temperature{
    @include phones{
        top:10px;
    }
}

&-floor{
    font-size: rem(66px);
color: #333333;
width: auto;
    top: rem(60px);
    left:rem(50px);

    @include phones{
        top: 50%;
        transform: translate(0,-50%);
    }
}
}

.popap-gallery__btn{

    @include phones{
    border-radius: 20px;
}
}

/*---popup-temperature--- */

#parent {
    width: 200px;
    height: 200px;
    background: #FEFEFE;
    box-shadow: 0 2px 4px 0 rgba(134,121,71,0.45);
    border-radius: 50%;
  position:relative;
}

.slider-lines{
    background-image: url("../../images/Oval.png");
    width: 220px;
    height: 220px;
    position: absolute;
    top: -5%;
    left: 31%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(0%,0%);

    @include phones{

    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    }
}
#child {
	width: 30px;
	height: 30px;
	offset-path: path("M100,0 A100,100 0 1,1 100,200 A100,100 0 1,1 100,0");
  offset-distance: 60%;
  z-index:50;
  position: relative;
  &:after{
    width: 0; height: 0;
border-top: 5px solid transparent;
border-right: 10px solid #000000;
border-bottom: 5px solid transparent;
    content:"";
    position:absolute;
    top:15px;
    left:10px;
    transform:rotate(90deg);
    z-index:-1;
    
  }
}
input#temperature[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    width: 100%;
    height: rem(60px);
    background-image: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
    border-radius: 30px;
    position: relative;
    font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
    font-size:18px;
    color: #FFFFFF;
    font-weight: 700;


    @include phones{
        width: 60px;
    height: 336px;
    background-image: linear-gradient(365deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
    }
    &::-moz-range-track {
        -moz-apperance: none;
        width: 100%;
        height: rem(60px);
        background-image: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
        border-radius: 30px;

        @include phones{
            width: 60px;
        height: 336px;
        background-image: linear-gradient(365deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
        }
    }

    &::-ms-track {
        width: 100%;
        height: rem(60px);
        background-image: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
        border-radius: 30px;
        @include phones{
            width: 60px;
        height: 336px;
        background-image: linear-gradient(365deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
        }
    }
    &::-ms-thumb{
        width:60px;
        height:60px;
        border-radius:35px;
        border: 3px solid rgba(51,51,51,0.10);
border: 4px solid #FFFFFF;
box-shadow: 0 1px 10px -7px rgba(0,0,0,0.50);
        cursor:pointer;

        @include phones{
            width: 60px;
        height: 336px;
        background-image: linear-gradient(365deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
        }
    }
        &::-webkit-slider-thumb{
            -webkit-appearance:none;
            width:60px;
            height:60px;
            border-radius:35px;
            border: 3px solid rgba(51,51,51,0.10);
border: 4px solid #FFFFFF;
box-shadow: 0 1px 10px -7px rgba(0,0,0,0.50);
            cursor:pointer;
            }
            &::-moz-range-thumb {
                -moz-apperance:none;
                width:60px;
                height:60px;
                border-radius:35px;
                border: 3px solid rgba(51,51,51,0.10);
                border: 4px solid #FFFFFF;
                box-shadow: 0 1px 10px -7px rgba(0,0,0,0.50);
                cursor:pointer;
                background-color: rgba(255, 255, 255, 0.01);
                }

                &:before{
                    position: absolute;
                    content: '-10';
                    top: 40%;
                    left: 2%;
                    transform: translate(-2%,-40%);
                
                    @include phones{
                        top: 4%;
                        left: 50%;
                        transform: translate(-50%,-4%);
                    }
                }

                &:after{
                position: absolute;
                content: '+30';
                top: 40%;
    right: 3%;
    transform: translate(-3%,-40%);
               
                @include phones{
                    top: 95%;
                    right: 15%;
                    transform: translate(-15%,-95%);
                }
                }
    }


input#light[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    width: 100%;
    height: rem(60px);
    background-image: linear-gradient(-85deg,#FF9E00  2%,  #FFE682 98%);
    border-radius: 30px;

    @include phones{
        width: 60px;
    height: 336px;
    background-image: linear-gradient(-180deg,#FF9E00  2%,  #FFE682 98%);
    }

    &::-moz-range-track {
        -moz-apperance: none;
        width: 100%;
        height: rem(60px);
        background-image: linear-gradient(-85deg,#FF9E00  2%,  #FFE682 98%);
        border-radius: 30px;
        @include phones{
            width: 60px;
        height: 336px;
        background-image: linear-gradient(-180deg,#FF9E00  2%,  #FFE682 98%);
        }
    }

    &::-ms-track {
        width: 100%;
        height: rem(60px);
        background-image: linear-gradient(-85deg,#FF9E00  2%,  #FFE682 98%);
        border-radius: 30px;
        @include phones{
            width: 60px;
        height: 336px;
        background-image: linear-gradient(-180deg,#FF9E00  2%,  #FFE682 98%);
        }
    }
    &::-ms-thumb{
        width:60px;
        height:60px;
        border-radius:35px;
        border: 4px solid #ffffff;
        cursor:pointer;
    }
        &::-webkit-slider-thumb{
            -webkit-appearance:none;
            width:60px;
            height:60px;
            border-radius:35px;
            border: 4px solid #ffffff;
            cursor:pointer;
            }
            &::-moz-range-thumb {
                -moz-apperance:none;
                width:60px;
                height:60px;
                border-radius:35px;
                border: 4px solid #ffffff;
                cursor:pointer;
                background-color: rgba(255, 255, 255, 0.01);
                }
    }


/*---popup-temperature--- */