@import '../../styles/base.scss';
// header
.logo {
    display: block;
    width: rem(108px);
    height: rem(27px);
}

.hamburger-menu {
    display: none;
    @include phones {
        display: flex;
    }
}

.header-left {
    margin-right: rem(52px);
}

.header-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include phones {
        display: none;
    }
}

.header__link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: rem(16px);
    color: #333333;
    opacity: 0.6;
    font-weight: 700;
    &:hover {
        opacity: 1;
        font-weight: 700;
    }
    &_active {
        opacity: 1;
    }
}

.header__item+.header__item {
    margin-left: rem(28px);
}

.header-nav-hamburger_active {
    @include phones {
        position: absolute;
        display: flex;
        top: 50px;
        width: 100%;
        justify-content: center;
    }
}

// content
.content__container {
    display: flex;
    margin-bottom: rem(20px);
    @include phones {
        flex-wrap: wrap;
    }
}

.main {
    width: 50%;
    margin-right: rem(13px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include phones {
        width: 100%;
        margin-right: 0;
        margin-bottom: rem(31px);
    }
    &__title {
        font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
        font-size: rem(18px);
        color: #333333;
        font-weight: 700;
        @include phones {
            margin-bottom: 20px;
        }
    }
    &-content {
        flex-direction: column;
        margin: rem(29px) 0 rem(13px) 0;
        @include phones {
            margin: rem(100px) 0 rem(13px) 0;
        }
    }
}

.greeting {
    display: flex;
    flex-wrap: wrap;
    padding: rem(19px) rem(17px) 0 rem(26px);
    width: 100%;
    background-image: url('../../images/bg@1x.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    min-height: rem(331px);
    margin-top: rem(20px);
    @include phones {
        padding: rem(19px) 0 0 rem(26px);
    }
    &-main {
        display: flex;
        width: 65%;
        flex-direction: column;
        align-items: flex-start;
        @include phones {
            width: 100%;
        }
    }
    &__title {
        font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
        font-size: rem(27px);
        color: #333333;
        font-weight: 700;
        @include phones {
            font-size: rem(18px);
        }
    }
    &__temperature {
        display: flex;
        padding-top: rem(22px);
    }
    &__desc {
        font-family: 'Arial-MT', Arial, Helvetica, sans-serif;
        font-size: rem(14px);
        color: #333333;
        font-weight: normal;
    }
}

.temperature-home {
    display: flex;
    flex-direction: column;
    margin-right: rem(25px);
}

.temperature-degree_fifty {
    width: 50%;
}

.temperature-street {
    display: flex;
    flex-direction: column;
}

.temperature-title {
    font-family: 'Arial-MT', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: rem(14px);
    color: #858585;
}

.temperature-img {
    width: rem(24px);
    height: rem(24px);
    margin-left: rem(8px);
}

.temperature-degree {
    font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: rem(36px);
    color: #333333;
    letter-spacing: 0;
}

.favorite-scenarios {
    width: 50%;
    margin-left: rem(13px);
    @include phones {
        width: 100%;
        margin-left: 0;
        margin-bottom: 31px;
    }
}

.temperature-street-drizzle {
    display: flex;
    align-items: center;
}

/*---end content ---- */

/* card */

.card {
    width: 200px;
    height: 120px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #F7F7F7;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
        background: #FFFFFF;
        box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.50);
    }
    &_heigth100 {
        height: 100px;
    }
    &__icon {
        flex-grow: 1;
        margin-bottom: 10px;
    }
    &__img {
        width: 24px;
        height: 24px;
        display: none;
        &_active {
            display: block;
        }
    }
    &__title {
        font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #333333;
        height: 64px;
        display: flex;
        align-items: flex-end;
        width: 100%;
        overflow: hidden;
        margin: 0 0 3px;
    }
    &__sheduling {
        font-family: 'Arial-MT', Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 12px;
        color: #858585;
        letter-spacing: 0.01px;
        text-decoration: none;
        margin: 0;
        padding: 0;
    }
}

/* --- end card --- */

/* carousel*/

.carousel {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    &_vertical {
        width: 35%;
        @include phones {
            width: 100%;
            justify-content: flex-start;
        }
    }
    &-multi {
        margin-top: rem(20px);
        height: 333px;
        width: 100%;
        @include phones {
            width: 100%;
            height: auto;
        }
    }
    &_paddingLeft {
        @include phones {
            padding-left: rem(20px);
        }
    }
}

.btn {
    position: absolute;
    padding: 0;
    display: flex;
    @include phones {
        display: none;
    }
    &__img {
        width: rem(16px);
        height: rem(16px);
        margin: rem(13px) 0;
        &:hover {
            cursor: pointer;
        }
    }
}

.arrow {
    fill: rgba(152, 154, 156, .8);
    &:hover {
        fill: rgba(152, 154, 156, 1);
    }
    &:active {
        fill: rgba(51, 51, 51, 1);
    }
    &-icon-prev {
        width: 100%;
        height: 100%;
    }
}

.down {
    bottom: 0;
    justify-content: center;
    width: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #F7F7F7;
    transition: all ease 1s;
    opacity: 1;
    &:focus {
        outline: none;
    }
}

.gallery {
    overflow: hidden;
    width: 100%;
    &_vertical {
        height: rem(310px);
        @include phones {
            display: flex;
            align-items: center;
        }
    }
    &__nav {
        height: auto;
        width: auto;
        margin: 0;
        padding: 0;
        position: relative;
        left: 0;
        transition: all ease 1s;
        display: flex;
        list-style: none;
        font-size: 0;
        padding: 2px 2px 4px;
        &_vertical {
            height: auto;
            width: auto;
            flex-direction: column;
            position: relative;
            top: 0;
            @include phones {
                flex-direction: row;
                touch-action: none;
            }
        }
    }
    &__item+&__item {
        margin-left: rem(15px);
    }
    &__item {
        display: block;
        &_vertical {
            display: flex;
            justify-content: center;
            width: 100%;
        }
        &_vertical+&_vertical {
            margin-top: rem(16px);
            margin-left: 0;
            @include phones {
                margin-top: 0;
                margin-left: rem(15px);
            }
        }
    }
    &-horizontal__prev {
        top: rem(-40px);
        right: rem(56px);
    }
    &-horizontal__next {
        top: rem(-39px);
        right: rem(23px);
    }
    &-multi {
        overflow: hidden;
        height: 100%;
        &__nav {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-wrap: wrap;
            height: 100%;
            left: 0;
            transition: all ease 1s;
            @include phones {
                flex-direction: row;
                flex-wrap: nowrap;
            }
        }
        &__prev {
            top: rem(5px);
            right: rem(25px);
        }
        &__next {
            top: rem(6px);
            right: rem(-3px);
        }
        &__img {
            width: rem(14px);
            height: rem(14px);
            &_next {
                transform: rotate(-90deg);
            }
            &_prev {
                transform: rotate(90deg);
            }
        }
        &__item {
            width: 32%;
            height: 30%;
            margin: 5px;
            @include phones {
                width: auto;
                height: auto;
            }
        }
        &__item+&__item {
            margin-right: rem(5px);
        }
        &__item:nth-child(3n) {
            margin-right: 0;
        }
        &__item:first-child {
            margin-right: rem(4px);
        }
    }
}

/* ---- end -----*/

/* ---- favorite-scenarios ---- */

/* ---- end favorite-scenarios ---- */

/* ---- favorite-devices ---- */

.favorite-devices {
    width: 100%;
    flex-grow: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    padding-left: rem(40px);
    @include phones {
        padding-left: 0;
    }
    &__carousel {
        position: unset;
        flex-grow: 1;
    }
    &__title {
        display: flex;
        margin-bottom: rem(25px);
        @include phones {
            justify-content: space-between;
            padding: 0 20px;
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-left: rem(10px);
        @include phones {
            display: none;
        }
        &_dropdown {
            display: none;
        }
    }
    &__item+&__item {
        margin-left: rem(15px);
        @include phones {
            margin-left: 0;
            margin-top: rem(2px);
        }
    }
    &__link {
        font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: rem(13px);
        color: #000000;
        background-color: rgba(247, 247, 247, 1);
        border-radius: 20px;
        padding: rem(8px) rem(13px);
        position: relative;
        @include phones {
            border-radius: 0;
            display: block;
            width: 100%;
            text-align: end;
        }
        &:hover {
            cursor: pointer;
            background-color: rgba(107, 107, 107, 0.2);
        }
        &:active {
            cursor: pointer;
            background-color: rgba(107, 107, 107, 0.8);
        }
        &_paddingRight {
            @include phones {
                padding-right: 28px;
                border-radius: 20px;
            }
        }
        &_active {
            background-color: #FFD700;
        }
    }
}

.menu-dropdown {
    display: none;
    @include phones {
        display: flex;
        position: relative;
    }
    &__btn {
        position: absolute;
        width: 10px;
        height: 7px;
        top: 5px;
        right: 5px;
        z-index: 99;
    }
    &__title {
        position: relative;
    }
    &__icon {
        width: 14px;
        height: 9px;
    }
    &-arrow {
        position: relative;
    }
    &__items {
        position: absolute;
        z-index: 9999;
        top: 28px;
        right: 0;
        flex-direction: column;
        display: none;
        &_active {
            display: flex;
        }
    }
}

/* ---- end favorite-devices ---- */

.footer__nav {
    display: flex;
    @include phones {
        justify-content: center;
        flex-wrap: wrap;
    }
}

.footer__text {
    font-family: 'ArialMT', Arial, Helvetica, sans-serif;
    font-size: rem(12px);
    color: #858585;
    font-weight: normal;
    letter-spacing: 0.01px;
    text-align: left;
}

.footer__item+.footer__item {
    margin-left: rem(15px);
}

.footer__link:hover {
    color: #333333;
}

/*---popup-temperature--- */

.popap {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.50);
    position: fixed;
    top: 0;
    z-index: 9999;
    display: none;
    align-items: center;
    justify-content: center;
    width: 1px;
    height: 1px;
    transition: all ease 1s;
    transform: scale(1, 1);
    display: flex;
    &-container {
        display: flex;
        max-width: rem(630px);
        width: rem(630px);
        flex-direction: column;
        @include phones {
            align-items: center;
            padding: 20px;
            width: 334px;
        }
    }
    &__floor,
    &__light,
    &__temperature {
        display: flex;
        height: 100vh;
        width: 100vw;
    }
    &-main {
        background: #FFFFFF;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: rem(20px);
        width: 100%;
        position: relative;
        margin-bottom: rem(20px);
        @include phones {
            height: 492px;
        }
    }
    &-title {
        font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
        font-size: rem(27px);
        color: #333333;
        font-weight: 700;
        @include phones {
            font-size: 18px;
        }
        &_smaller {
            @include phones {
                font-size: rem(18px);
            }
        }
    }
    &-temperature {
        font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
        font-size: rem(36px);
        color: #333333;
        font-weight: 700;
    }
    &-icon {
        width: rem(40px);
        height: rem(40px);
    }
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 42px;
        @include phones {
            margin-bottom: 34px;
        }
    }
    &-degree {
        display: flex;
        align-items: center;
        @include phones {
            display: none;
        }
    }
    &-gallery-item+&-gallery-item {
        margin-left: rem(7px);
    }
    &-items {
        align-items: center;
    }
    &-sheduling {
        position: absolute;
        top: rem(60px);
        content: '';
        display: flex;
        justify-content: flex-start;
    }
    &-btns {
        display: flex;
        width: 100%;
        justify-content: space-between;
        @include phones {
            flex-direction: column;
        }
    }
    &-btn {
        width: 49%;
        background: #FFFFFF;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #000000;
        letter-spacing: 0;
        text-align: center;
        font-weight: 700;
        padding: rem(21px);
        @include phones {
            width: 100%;
        }
        &:hover {
            background: #FFD93E;
        }
        &:active {
            background: #FF9E00;
        }
    }
    @include phones {
        &-btn+&-btn {
            margin-top: 10px;
        }
    }
    &-temperature-carousel {
        margin-bottom: rem(20px);
    }
    &-bright {
        width: 24px;
        height: 24px;
        fill: none;
        position: absolute;
        &_min {
            top: 50%;
            left: 2%;
            transform: translate(-1%, -50%);
        }
        &_max {
            top: 50%;
            left: 98%;
            transform: translate(-98%, -50%);
        }
    }
    &-light {
        @include phones {
            display: none;
        }
    }
    &-gallery__btn {
        @include phones {
            border-radius: 20px;
        }
    }
}

.slider-wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    &-floor {
        display: flex;
        justify-content: center;
        height: 245px;
        @include phones {
            align-items: center;
            flex-grow: 1;
        }
    }
    @include phones {
        width: 100%;
        height: 264px;
    }
}

.slider-range {
    position: absolute;
    font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: rem(18px);
    font-weight: 700;
    width: 100%;
    letter-spacing: 0;
    display: flex;
    justify-content: space-between;
    top: rem(19px);
    padding: 0 20px;
    @include phones {
        flex-direction: column;
        top: 0;
        left: 38%;
        width: 60px;
        height: 318px;
        padding: 0 16px;
    }
    &__temperature {
        @include phones {
            top: 10px;
        }
    }
    &-floor {
        left: 35%;
        top: 50%;
        text-align: right;
        font-size: 60px;
        color: #333333;
        transform: translate(-35%, -50%);
        width: 112px;
        height: 77px;
    }
}

/*---popup-temperature--- */

#parent {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    background-image: url("../../images/floorSlider.svg");
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
}

#child {
    width: 30px;
    height: 30px;
    offset-path: path("M100,0 A100,100 0 1,1 100,200 A100,100 0 1,1 100,0");
    offset-distance: 60%;
    z-index: 50;
    position: relative;
    &:after {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 10px solid #000000;
        border-bottom: 5px solid transparent;
        content: "";
        position: absolute;
        top: 36px;
        left: 10px;
        transform: rotate(90deg);
        z-index: -1;
    }
}

.svg {
    width: 100%;
    height: 100%;
}

input#temperature[type="range"] {
    -webkit-appearance: none;
    width: rem(580px);
    height: 60px;
    font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 700;
    position: relative;
    background: transparent;
    @include phones {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        width: 340px;
        height: 60px;
        position: absolute;
        top: 50%;
        left: -44px;
    }
    &::-webkit-slider-runnable-track {
        background: transparent;
        border-radius: 30px;
        width: 340px;
        height: 60px;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 60px;
        height: 60px;
        border-radius: 35px;
        border: 4px solid #ffffff;
        cursor: pointer;
    }
    &::-moz-range-track {
        background: transparent;
        border-radius: 30px;
        width: rem(580px);
        height: 60px;
        @include phones {
            width: 340px;
            height: 60px;
        }
    }
    &::-moz-range-thumb {
        -moz-apperance: none;
        appearance: none;
        width: 60px;
        height: 60px;
        border-radius: 35px;
        border: 4px solid #ffffff;
        background: transparent;
        cursor: pointer;
    }
    &::-ms-track {
        background: transparent;
        border-radius: 30px;
        width: 340px;
        height: 60px;
    }
    &::-ms-thumb {
        appearance: none;
        width: 60px;
        height: 60px;
        border-radius: 35px;
        border: 4px solid #ffffff;
        cursor: pointer;
    }
}

input#light[type="range"] {
    -webkit-appearance: none;
    width: rem(580px);
    height: 60px;
    background: transparent;
    position: relative;
    @include phones {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        width: 340px;
        height: 60px;
        position: absolute;
        top: 50%;
        left: -44px;
    }
    &::-webkit-slider-runnable-track {
        background: transparent;
        border-radius: 30px;
        width: 340px;
        height: 60px;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 60px;
        height: 60px;
        border-radius: 35px;
        border: 4px solid #ffffff;
        cursor: pointer;
    }
    &::-moz-range-track {
        background: transparent;
        border-radius: 30px;
        width: rem(580px);
        height: 60px;
        @include phones {
            width: 340px;
            height: 60px;
        }
    }
    &::-moz-range-thumb {
        -moz-apperance: none;
        appearance: none;
        width: 60px;
        height: 60px;
        border-radius: 35px;
        border: 4px solid #ffffff;
        background: transparent;
        cursor: pointer;
    }
    &::-ms-track {
        background: transparent;
        border-radius: 30px;
        width: 340px;
        height: 60px;
    }
    &::-ms-thumb {
        appearance: none;
        width: 60px;
        height: 60px;
        border-radius: 35px;
        border: 4px solid #ffffff;
        cursor: pointer;
    }
}

.slider-icon {
    width: 36rem;
    height: 60px;
    position: absolute;
    border-radius: 30px;
    @include phones {
        transform: rotate(-90deg);
        top: 50%;
        left: -17%;
        width: 341px;
        height: 60px;
    }
    &__light {
        background-image: linear-gradient(-85deg, #FF9E00 2%, #FFE682 98%);
    }
    &__temperature {
        font-family: 'Arial-BoldMT', Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 700;
        background-image: linear-gradient(85deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
        &:before {
            position: absolute;
            content: '-10';
            top: 40%;
            left: 2%;
            transform: translate(-2%, -40%);
            @include phones {
                transform: rotate(90deg);
            }
        }
        &:after {
            position: absolute;
            content: '+30';
            top: 40%;
            right: 3%;
            transform: translate(-3%, -40%);
            @include phones {
                transform: rotate(90deg);
            }
        }
    }
}

/*---popup-temperature--- */

.btn-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    left: 100%;
    width: 47px;
    justify-content: space-between;
    transform: translate(-100%, 0);
    &__devices {
        top: 5%;
        left: 98%;
        transform: translate(-98%, 5%);
    }
    @include phones {
        display: none;
    }
}