@import './mixins.scss';

.wrapper{
    min-width: rem(320px);
    width:100%;
    display: flex;
    flex-direction: column;
    min-height: rem(628px);
    height: 100%;

   @include desctop{
  
    min-width: rem(1279px);
}
}

.header{
    display: flex;
    flex: 0 0 auto;
    border-bottom: 1px solid  #F0F0F0;

    @include phones{
        border-bottom: none;
    }
}

.content{
    display: flex;
    flex: 1 0 auto;
}

.footer{
    display: flex;
    flex: 0 0 auto;
}

.container {
    max-width: rem(1280px);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 rem(40px);

    @include phones{
        margin: 0;
        padding: 0 rem(20px);
    }
}

.header__container{
    justify-content: flex-start;
    padding: rem(32px) 0;

    @include phones{
        justify-content: space-between;
        padding: rem(32px) rem(20px);
    }
}

.footer__container{
    justify-content: space-between;
    padding: 25px 0;
    flex-wrap: wrap;
    @include phones{
        justify-content: center;
        padding: rem(25px) rem(20px);
    }
}

