    @font-face {
    font-family: "Arial";
    src: url("./ArialMT/ArialMT.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
   }
   
   @font-face {
    font-family: "Arial";
    src: url("./ArialMT/Arial-BoldMT.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
   }
   
